.bg-nav{
    background-color: black;
}
.footer{
    background-color:black;
}
.logo-gaby{
    background-image: url('../assets/img/portfolio/logogaby.gif');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    height: 100px;
    width: 200px;
}

.portfolio .portfolio-item.dz{
    background-color: #10114d;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.portfolio .portfolio-item.connecta{
    background-color: #f4623a;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    
}

.portfolio .portfolio-item.singlePage{
    
    background-color: #c2a2ec;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    
}
.portfolio-item.connecta h2{
    text-align: center;
    font-size: 20px;
    color: white;
}
.portfolio-item.singlePage h2{
    text-align: center;
    font-size: 20px;
    color: white;
}
.dz img{
    margin: auto;
    
}
.modal-content p{
    font-size: 22px;
}

.dz-modal{
    background-color: #10114d;
    color: white;

}

.connecta-modal{
    background-color: #f4623a;
    color: white;


}
.single-modal{
    background-color: #c2a2ec;
    color: white;


}
.modal-content .text-secondary{
    color: white !important;
}

.divider-custom .divider-custom-line {

    background-color: white;
    border-color: white !important;
}

.divider-custom .divider-custom-icon{
    color: white !important;
}